MONGO_URI=mongodb://mongodb:27017/
MONGO_DB_NAME=library_app
FLASK_ENV=development
PORT=5000
GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_REDIRECT_URI=http://localhost:3000/session/oauth/callback
